<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">

  <title>Hello, world!</title>
</head>

<body>
  <h2>Itemdes</h2>
  <div class="container">
      <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">name</th>
              <th scope="col">category</th>
              <th scope="col">keyword</th>
              <th scope="col">leftQuan</th>
              <th scope="col">deposit</th>
              <th scope="col">lenderID</th>
              <th scope="col">policy</th>
              <th scope="col">term</th>
              <th scope="col">location</th>
              <th scope="col">rentalFee</th>
            </tr>
          </thead>
          <tbody id="list">
      
          </tbody>
        </table>
  </div>
  

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
</body>
<script>

  var results = <%- JSON.stringify(results) %>;
  update(results);
  function update(results) {


    var tbody = document.getElementById("list");

    while (tbody.firstChild)
      tbody.removeChild(tbody.firstChild);

    for (var i = 0; i < results.length; i++) {
      var tr = document.createElement("tr");
      var td;


      for (var j = 0; j < 11; j++) {
        td = document.createElement("td");

        var text;
        switch (j) {
          case 0:
            text = results[i]["itemID"];
            break;
          case 1:
            text = results[i]["name"];
            break;
          case 2:
            text = results[i]["category"];
            break;
          case 3:
            text = results[i]["keyword"];
            break;
          case 4:
            text = results[i]["leftQuan"];
            break;
          case 5:
            text = results[i]["deposit"]
            break;
          case 6:
            text = results[i]["lenderID"]
            break;
          case 7:
            text = results[i]["policy"]
            break;
          case 8:
            text = results[i]["term"]
            break;
          case 9:
            text = results[i]["location"]
            break;
          case 10:
            text = results[i]["rentalFee0"] + "/" + results[i]["rentalFee1"] + "/" + results[i]["rentalFee2"] + "/" + results[i]["rentalFee3"] + "/" + results[i]["rentalFee4"]
            break;
        }
        td.appendChild(document.createTextNode(text));

        tr.appendChild(td);

      }

      tr.setAttribute("class", "tr");

      tbody.appendChild(tr);

    }
  }
</script>

</html>