
<body>
    <%= title %>
    
  <form action="/rentalStore/enterItemInfo" method="POST">
    <div class="form-group">
      <label for="">Name</label>
      <input type="text" name="name" class="form-control" placeholder="">
    </div>
    <div class="form-group">
      <label for="">Category</label>
      <input type="text" name="category" class="form-control" placeholder="">
    </div>
    <div class="form-group">
      <label for="">Keyword</label>
      <input type="text" name="keyword" class="form-control" placeholder="">
    </div>
    <div class="form-group">
      <label for="">Deposit</label>
      <input type="text" name="deposit" class="form-control" placeholder="">
    </div>
    <div class="form-group">
      <label for="">Policy</label>
      <input type="text" name="policy" class="form-control" placeholder="">
    </div>
    <div class="form-group">
      <label for="">term</label>
      <input type="text" name="term" class="form-control" placeholder="">
    </div>
    <div class="form-group">
      <label for="">Location</label>
      <input type="text" name="location" class="form-control" placeholder="">
    </div>
    <div class="form-group">
      <label for="">Status0</label>
      <input type="text" name="s0" class="form-control" placeholder="">
    </div>
    <div class="form-group">
      <label for="">Status1</label>
      <input type="text" name="s1" class="form-control" placeholder="">
    </div>
    <div class="form-group">
      <label for="">Status2</label>
      <input type="text" name="s2" class="form-control" placeholder="">
    </div>
    <div class="form-group">
      <label for="">Status3</label>
      <input type="text" name="s3" class="form-control" placeholder="">
    </div>
    <div class="form-group">
      <label for="">Status4</label>
      <input type="text" name="s4" class="form-control" placeholder="">
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</body>