
<body>
    <%= title %>
    
  <form >
    <div class="form-group">
      <label for="">Name</label>
      <input type="text" class="form-control" placeholder="">
    </div>
    <div class="form-group">
      <label for="">Category</label>
      <input type="text" class="form-control" placeholder="">
    </div>
    <div class="form-group">
      <label for="">Keyword</label>
      <input type="text" class="form-control" placeholder="">
    </div>
    <div class="form-group">
      <label for="">Deposit</label>
      <input type="text" class="form-control" placeholder="">
    </div>
    <div class="form-group">
      <label for="">Policy</label>
      <input type="text" class="form-control" placeholder="">
    </div>
    <div class="form-group">
      <label for="">term</label>
      <input type="text" class="form-control" placeholder="">
    </div>
    <div class="form-group">
      <label for="">Location</label>
      <input type="text" class="form-control" placeholder="">
    </div>
    <div class="form-group">
      <label for="">Status1</label>
      <input type="text" class="form-control" placeholder="">
    </div>
    <div class="form-group">
      <label for="">Status2</label>
      <input type="text" class="form-control" placeholder="">
    </div>
    <div class="form-group">
      <label for="">Status3</label>
      <input type="text" class="form-control" placeholder="">
    </div>
    <div class="form-group">
      <label for="">Status4</label>
      <input type="text" class="form-control" placeholder="">
    </div>
    <div class="form-group">
      <label for="">Status5</label>
      <input type="text" class="form-control" placeholder="">
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</body>