<!DOCTYPE html>
<html lang="ko">

<head>
  <% include ./head.ejs %>
</head>

<body>
  <% include ./navbar.ejs %>
  <!--body-->
  <%- include(body) %>
  <!-- modal-->
  <% include ./loginmodal.ejs %>


  <% include ./bodyscript.ejs %>

</body>

</html>